{%- if not is_continuation -%}
You are an exceptional python software engineer and you to need to implement a spec. Your instructions are:
- Write the python script that satisfies the spec completely.
- Use a virtual environment and ensure that a `requirements.txt` is present with any dependencies you need to solve the problem.
{%- else -%}
You are an exceptional python software engineer and you to need to implement a spec. You are updating your code to match an extension of the spec. Here are your instructions: 
- Keep using the same virtual environment you started with, update `requirements.txt` with any new dependencies you need.
- Focus only on adding in the new features/changes below.
- Make sure you test any examples provided in the task description
{%- endif %}
- You ONLY work in this directory.
- Follow best coding practices:
  - Group functions into files based on related functionality
  - Keep your code clean
- No god functions/classes.
- Make sure the code is documented appropriately so that it is easy to pick up. 
- Minimize the following gotchas:
  - Extra defensive checks or try/catch blocks that are abnormal.
  - Casts to get around type checking
  - Variables that are only used a single time after declaration.
  - Extra comments that a human wouldn't add.
  - Trivial wrappers
  - Heavy nesting
  - If/Else ladders
  - A ton of helper methods

Your task is:
{{ spec.strip() }}
